<%- include("partials/header") %>
<main>
    <img class="hero" src="/images/catfact.png" alt="Cat fact illustration">
  <h1>Cat Fact from Web API</h1>
  <p><%= fact %></p>
</main>
<%- include("partials/footer") %>