<%- include("partials/header") %>
<main>
    <img class="hero" src="/images/quote.png" alt="Tech quote illustration">
  <h1>Random Tech Quote</h1>
  <p><%= quote %></p>
</main>
<%- include("partials/footer") %>